<%= link_to "all presentations", presentations_path %>
<div>
  Filter: <input type="text" id='FilterPresentationTextbox' />
</div>
<div class='presentation_list'>
  <ul>
    <% @presentations.each do |presentation| %>
      <li data-FilterText='<%= presentation.name %>'>
        <div class='presentation'>
            <%= link_to presentation.name, presentation %><br/>
            Start: <%= presentation.starts_at.to_s(:long) %><br/>
            Presenter: <%= presentation.speaker_name %>
          </div>
      </li>
    <% end %>
  </ul>
</div>
<script type="text/javascript">
  $(document).ready(function() {   
    $('input#FilterPresentationTextbox').bind('change keyup', function() {
      var searchValue = $(this).val().trim();
      
      if (searchValue == '')
        {
          $('li').show();
          return;          
        }
      
      $('li').not(":Contains('"+$(this).val()+"')'").hide('slow');
      $('li:Contains("'+$(this).val()+'")').show('slow');
      
    });
  });
  
  $.expr[':'].Contains = function(a, i, m){
    return $(a).text().toUpperCase().indexOf(m[1].toUpperCase()) >= 0;
   };
    
</script>
