<%= link_to "all presentations", presentations_path %>
<div>
  Filter: <input type="text" id='FilterPresentationTextbox' /> &nbsp; &nbsp; 
  Sort: <select id="PresentationSort">
          <option value="title">Title</option>
          <option value="start">Start Date</option>
          <option value="presenter">Presenter</option>
        </select>
</div>
<div class='presentation_list'>
  <ul>
    <% @presentations.each do |presentation| %>
      <li data-FilterText='<%= presentation.name %>'>
        <div class='presentation'>
            <%= link_to presentation.name, presentation %><br/>
            Start: <%= presentation.starts_at.to_s(:long) %><br/>
            Presenter: <%= presentation.speaker_name %>
          </div>
      </li>
    <% end %>
  </ul>
</div>
<script type="text/javascript">
  $(document).ready(function() {  
    $('select#PresentationSort').change(function(){ 
        alert("Hello, i'm changing the sort")
      });
     
    $('input#FilterPresentationTextbox').bind('change keyup', function() {
      var searchValue = $(this).val().trim();
      
      if (searchValue == '')
        {
          $('li').show();
          return;          
        }
      
      $('li').not(":contains('"+$(this).val()+"')'").hide('slow');
      $('li:contains("'+$(this).val()+'")').show('slow');
      
    });
  });
  
  $.expr[':'].Contains = function(a, i, m){
    return $(a).text().toUpperCase().indexOf(m[1].toUpperCase()) >= 0;
   };
    
</script>
