<p><%= flash[:error] if flash[:error] %></p>
<%= form_for(@presentation) do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
    </p>

  <p>
    <%= form.label :starts_at %>
    <%= form.datetime_select :starts_at %>
    </p>
  <p>
    <%= form.label :speaker_name %>
    <%= form.text_field :speaker_name %>
    </p>
  <p>
  <%= form.submit "Create Presentation" %>
  </p>
<% end %>
