<h1><%=h @presentation.title %></h1>
<p class="speaker_info">   
  <% @presentation.presenters.each do |presenter| %>
    <%= link_to presenter.name, presenter_path(presenter) %> &nbsp;
  <% end %>
</p>
<p>
  <%= @presentation.description %>
</p>
<p>The Rating! <%= "#{@presentation.positive_ratings}/#{@presentation.negative_ratings}"%></p>
<% if logged_in? %>
    <% form_for Rating.new, :url=> presentation_up_path(@presentation) do |f| %>
      <%= submit_tag "Rocked" -%>
    <% end -%>
    <% form_for Rating.new, :url=> presentation_down_path(@presentation) do |f| %>
      <%= submit_tag "Sucked" -%>
    <% end -%>
  <hr>

  <h2>Comments</h2>
  <% @presentation.comments.each do |comment| %>
    <p class="comment"><strong><%= comment.user.login %></strong> said <%= time_ago_in_words(comment.created_at)%> ago: <%= comment.body %></p>
  <% end %>
  <hr>
  <% form_for Comment.new, :url => presentation_comments_path(@presentation) do |f| %>
    <fieldset>
      <legend>Add a Comment</legend>
      <p>
        <%= f.label :body %>: <br>
        <%= f.text_area :body %>
      </p>
      <p>
        <%= submit_tag "Add Comment" %>
      </p>
    </fieldset>
  <% end -%>

<% end -%>