<p><%= flash[:success] if flash[:success] %></p>
<h2>Presentation: <%= @presentation.name %></h2>
<p>
  <%= link_to 'Edit', edit_presentation_path(@presentation)  %>
  <%= link_to 'Kill It', presentation_path(@presentation), :confirm => "really??", :method => :delete  %>
</p>

<h3>Questions:</h3>
<ul id="questions">
  <%= render @presentation.presentation_questions %>
</ul>


<%= link_to "Ask a question", new_presentation_presentation_question_path(@presentation), :id => 'question_link' %>

<%= render 'presentation_questions/form' %>