<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <title>Symposiast.com - You are here.</title>
  
  <%= javascript_include_tag :defaults %>
  <%= fb_connect_javascript_tag %>
  <%= init_fb_connect "XFBML", :js => :jquery %>
  
  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">	
  <!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <link rel="stylesheet" href="/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/app.css" type="text/css" media="screen, projection">
</head>
<body>
  <div class="container">
    <div class="header">
      <h1 id="site_title"><a href="/">Symposiast.com</a></h1>
      <h2 class="alt">
        Share your thoughts, meet other symposiasts, do something great... together.
      <h2>
    </div>
    <div class="mainContent span-17 colborder">
      <%= render_flash_messages %>
      <%= yield %>
    </div>
    <div class="sideContent span-5 last">
      <%= render :partial=> 'shared/side_bar' %>
    </div>
    <br class="clear">
    <div class="footer">
      <h2 class="alt">
        This site was built by someone just like you... at a symposium.
      </h2>
      <p>
        MIT license. Use this site as you wish.
      </p>
    </div>
  </div>
</body>
</html>